<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="LogToConsole" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level  %logger{36}-%M - %msg%n"/>
        </Console>
        <RollingFile
                name="LogToFile"
                fileName="log/ivao-ms-v0.log"
                filePattern="log/ivao-ms-v0%d{yyyy-MM-dd}-%i.log"
                ignoreExceptions="false">
            <PatternLayout>
                <Pattern>%d %p %c{1.}-%M [%t] %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
            </Policies>
            <DefaultRolloverStrategy max="5" />
        </RollingFile>
    </Appenders>
    <Loggers>
        <Logger name="com.e2lre.ivaomsv0" level="debug" additivity="false">
            <AppenderRef ref="LogToConsole"/>
            <AppenderRef ref="LogToFile"/>
        </Logger>

        <!--       <Logger name="org.springframework" level="warn" additivity="false">
                   <AppenderRef ref="LogToConsole"/>
                   <AppenderRef ref="LogToFile"/>
               </Logger>
               <Logger name="org.hibernate" level="warn" additivity="false">
                   <AppenderRef ref="LogToConsole"/>
                   <AppenderRef ref="LogToFile"/>
               </Logger>
               <Logger name="com.zaxxer.hikari" level="warn" additivity="false">
                   <AppenderRef ref="LogToConsole"/>
                   <AppenderRef ref="LogToFile"/>
               </Logger>-->
        <Root level="warn">
            <AppenderRef ref="LogToFile"/>
            <AppenderRef ref="LogToConsole"/>
        </Root>
    </Loggers>
</Configuration>
